<footer class="page-footer"style="background-color: #6bc1cce7">
  <p class="row d-flex justify-content-center text-light font-weight-light">
    Siga-me nas redes sociais
</p>
<div class="row d-flex justify-content-center">
    <a href="https://github.com/RodrigoCesar94" target="_blank">
   <img class='img-redes-sociais github' height="40px" width="40px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" alt="logo do github">
    </a>
    <a href="https://www.linkedin.com/in/rodrigo-cesar-ferreira/" target="_blank">
    <img class='img-redes-sociais lindekin' height="40px" width="40px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="logo do linkedin">
   </a>
</div>
<p class="row d-flex justify-content-center text-light font-weight-light">
Todos os direitos reservados para Rodrigo Cesar Ferreira &copy;
</p>
</footer>
