#img-bg {
  background-image: url(https://image.shutterstock.com/image-vector/set-clipart-elements-retro-obsolete-600w-1896505720.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }
