
<div class="container-fluid" >
  <div class="row d-flex align-items-center" style="background-color: #6bc1cce7">
    <div class="col-md-6 esquerda">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-light">
          <h1 class='fs-54'>Bem Vindo(a) </h1>
          <h3 class='fs-18'>Expresse aqui suas melhores idéias <br>😁</h3>
        </div>
      </div>


      <div class="row d-flex justify-content-center mt-3 mb-5">
      <div class="col-md-6">
        <button class="btn btn-outline-light mr-3" data-toggle="modal" data-target='#novaPostagem'> Nova Postagem </button>
        <a  class="btn btn-outline-light mt-3" href="#postagens"> Ver Postagens</a>
      </div>
      </div>
    </div>
  <div class="col-md-6 direita">
    <a href="https://imgur.com/QhwvXtJ"><img class='img-fluid rounded-circle' width="500" height="500" src="https://i.imgur.com/QhwvXtJ.gif" title="source: imgur.com" /></a>
    <h6 class='text-light'><a href="https://storyset.com/people">People illustrations by Storyset</a></h6>
  </div>
</div>
</div>
<div class="container" id='postagens'>

  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-link active" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="todasPostagens" aria-selected="true">Todas as Postagens</a>

      <a (click)="findByIdUser()" class="nav-link" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false"> Minhas Postagens</a>

      <a class="nav-link" id="nav-postagemTema-tab" data-toggle="tab" href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagens por tema </a>
    </div>
  </nav>
  <div class="tab-content mt-5" id="nav-tabContent">

    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">

      <div class="card-columns">
        <div class="card text-center" *ngFor='let item of listaPostagens'>
          <div class="card-body">
            <img src="{{item.usuario.foto}}" alt="foto do dono da postagem" width="50px" height='50px' class='rounded-circle img-fluid'>
            <h5 class="card-title">{{item.titulo}}</h5>
            <small class=text-muted> Tema: {{item.tema.descricao}}</small>
            <p class="card-text">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
              <span class='mt-3'> Postado em: {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm:ss'}}</span>
              <span class='mt-3'> por {{item.usuario.nome}}</span>
            </small></p>
          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

      <div class="card-columns">
        <div class="card text-center" *ngFor='let item of user.postagem'>
          <div class="card-body">
            <img src="{{user.foto}}" alt="foto do usuario" width="50px" height='50px' class='rounded-circle img-fluid'>
            <h5 class="card-title">{{item.titulo}}</h5>
            <small class=text-muted> Tema: {{item.tema.descricao}}</small>
            <p class="card-text">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
              <span class='mt-3'> Postado em: {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm:ss'}}</span>
            </small></p>
            <a [routerLink]="['/postagem-edit', item.id]" class='text-info mr-3' href="">Editar</a>
            <a [routerLink]="['/postagem-delete', item.id]" class='text-danger'  href=""> Apagar </a>
          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">

      <div class="card-columns" *ngFor='let tema of listaTemas'>
        <div class="card text-center" *ngFor='let item of tema.postagem'>
          <div class="card-body">
            <img src="{{item.usuario.foto}}" alt="meudeus" width="50px" height='50px' class='rounded-circle img-fluid'>
            <h5 class="card-title">{{item.titulo}}</h5>
            <p class="card-text">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
              <span class='mt-3'> Postado em: {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm:ss'}}</span>
              <span class='mt-3'> por {{item.usuario.nome}}</span>
            </small></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">nova postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input [(ngModel)]="postagem.titulo" type="text" class="form-control" id="titulo" placeholder="digite o titulo da sua postagem">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea  [(ngModel)]="postagem.texto"class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="texto">Escolha um tema ou  <a routerLink="/tema" data-dismiss="modal">: cadastre um novo</a></label>

          <select name="tema" id="tema" class="form-control" [(ngModel)]="idTema" (change)="findByIdTema()" >
            <option *ngFor="let item of listaTemas" value="{{item.id}}">{{item.descricao}}</option>
          </select>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="publicar()" data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>


